* {
  margin: 0;
  padding: 0;
  border: none;
}

html, body, iframe {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: url(heart.png) no-repeat 50% 50% #f6f5f7;
  background-size: 187px 158px;
}